<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="moe.pinkd.netman">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.MainActivity"
            android:theme="@style/TranslucentTheme"/>
        <activity android:name=".ui.activity.DetailActivity"/>
        <activity android:name=".ui.activity.ReadMeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.NoRootActivity"/>

        <receiver
            android:name=".component.receiver.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>

                <category android:name="android.intent.category.HOME"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".component.service.RestoreIptablesRulesService"
            android:exported="false"/>

        <activity android:name=".ui.activity.AboutActivity">
        </activity>
    </application>

</manifest>